// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home {
  text-align: center;
}


li {
  float: left;
}

ul {
  background-color: darkgrey;
  list-style-type: none;
  margin: auto;
}

a, a:link, a:visited, a:hover, a:active {
  display: block;
  padding: 8px;
  background-color: darkgrey;
  text-decoration: none;
}

.heading {
  padding-top: 25px;
  text-align: center;
}

.nav {
  color: white;
}